---
import CSS from "./styles/styles.module.css";
---

<head>
  <title>Portifolio</title>
</head>
<body>
  <div class={CSS.onTop}>
    <h1 class={CSS.intro}>Hello There!</h1>
    <div class={CSS.icons}>ico ico ico</div>
  </div>
  <div class={CSS.Profile}>
    <div>
      <h1 class={CSS.hello}>Hello There!</h1>
      <p class={CSS.aboutMe}>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut
        libero lorem. Nunc lobortis malesuada porta. Proin vestibulum ante
        pellentesque, aliquet lectus lacinia, volutpat diam. Aenean quis
        pharetra lectus. Interdum et malesuada fames ac ante ipsum primis in
        faucibus. Donec vel elit odio. Sed condimentum enim a tincidunt
        convallis. Aenean eget purus pulvinar, pellentesque ex sit amet,
        vehicula libero. Nam quis elit quis ex accumsan scelerisque sit amet non
        turpis. Proin ullamcorper feugiat urna sit amet tincidunt. Nullam
        suscipit ornare scelerisque.
      </p>
    </div>
    <div class={CSS.box}>
      <img
        src="https://en.gravatar.com/userimage/211398258/814251e9c3534ce05b94a856550fe5a4?size=original"
        alt="Perfil Profile"
        class={CSS.avatar}
      />
    </div>
  </div>
  <div>
    <h1>Projetos <spam>Recentes</spam></h1>
  </div>
</body>

<style>
  h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
</style>
